<html
        xmlns:th="http://www.thymeleaf.org"
        lang="en"
        class="h-full">

<head>
    <title>Club Management</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet"/>
</head>

<body class="flex flex-col h-full bg-white">
<main class="flex-1">
    <!-- Navbar -->

    <header class="mb-8">
        <nav class="bg-white fixed w-full z-20 top-0 start-0 border-b border-gray-200">
            <div class="max-w-screen-xl flex items-center justify-center mx-auto p-4">
                <a href="/clubs" class="flex items-center space-x-3 rtl:space-x-reverse">
                        <span class="self-center text-2xl font-semibold whitespace-nowrap">Club
                            Management</span>
                </a>
                <div class="w-full flex items-center justify-center" id="navbar-default">
                    <ul class="font-medium flex space-x-8 mt-0 border-0">
                        <li>
                            <a href="/clubs" class="block py-2 px-3 rounded text-blue-700"
                               aria-current="page">Link
                                0</a>
                        </li>
                        <li>
                            <a href="/clubs"
                               class="block py-2 px-3 text-gray-900 rounded hover:text-blue-700">Link 1</a>
                        </li>
                        <li>
                            <a href="/clubs"
                               class="block py-2 px-3 text-gray-900 rounded hover:text-blue-700">Link 2</a>
                        </li>
                        <li>
                            <a href="/clubs"
                               class="block py-2 px-3 text-gray-900 rounded hover:text-blue-700">Link 3</a>
                        </li>
                        <li>
                            <a href="/clubs"
                               class="block py-2 px-3 text-gray-900 rounded hover:text-blue-700">Link 4</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <!-- Main Content with margin for fixed navbar -->
    <div class="mt-16">

        <!-- Portfolio Section -->
        <section class="py-8 px-4 mx-auto max-w-screen-xl">
            <div class="text-center mb-8">
                <h1
                        class="text-5xl font-extrabold tracking-tight leading-none text-gray-900">
                    Club List</h1>
                <p class="text-lg font-normal text-gray-500 mt-3">View All Active Clubs</p>
            </div>

            <div th:each="club :${clubs}" class="grid gap-8 mb-6 grid-cols-2">
                <!-- Portfolio Item 1 -->
                <div class="relative group">
                    <div class="bg-white border border-gray-200 rounded-lg shadow">
                        <a href="#">
                            <img class="rounded-t-lg"
                                 th:src="${club.photoUrl}"
                                 alt=""/>
                        </a>
                        <div class="p-5">
                            <a href="#">
                                <h5 th:text="${club.title}"
                                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900"></h5>
                            </a>
                            <p th:text="${club.content}" class="mb-3 font-normal text-gray-700 "></p>
                            <a href="#"
                               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                                View
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </section>

        <!-- CTA Section -->
        <section class="bg-gray-50">
            <div class="py-8 px-4 mx-auto max-w-screen-xl">
                <div class="max-w-2xl">
                    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Want to Add Your Club?
                    </h2>
                    <a href="#"
                       class="inline-flex items-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300">
                        Add Now
                    </a>
                </div>
            </div>
        </section>
    </div>
</main>

<!-- Footer -->
<footer class="bg-white rounded-lg shadow m-4">
    <div class="w-full mx-auto max-w-screen-xl p-4 flex items-center justify-between">
            <span class="text-sm text-gray-500">Footer <a href="https://flowbite.com/"
                                                          class="hover:underline">Club Management</a> Content
            </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500">
            <li>
                <a href="#" class="hover:underline me-6">Link 0</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-6">Link 1</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-6">Link 2</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-6">Link 3</a>
            </li>
        </ul>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>

</html>