<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        lang="en">

<head>
    <title>Club Detail</title>
</head>

<body>

<!-- Main Content with margin for fixed navbar -->
<section layout:fragment="body">
    <!-- Justify Children to Center    -->
    <div class="max-w-screen-lg flex flex-col justify-center items-center mx-auto">
        <!-- Header -->
        <section class="py-8 px-4 mx-auto max-w-screen-xl">
            <div class="text-center mb-8">
                <h1 th:text="${club.title}"
                    class="text-5xl font-extrabold tracking-tight leading-none text-gray-900"></h1>
            </div>
        </section>

        <!-- Page content-->
        <div class="container mx-auto px-4">
            <div class="grid">


                <!-- Club Info -->
                <div class="bg-white shadow-md rounded-lg mb-4">
                    <a href="#"><img class="w-full rounded-t-lg"
                                      th:src="${club.photoUrl}"
                                      alt="Club Photo"/></a>
                    <div class="p-6">
                        <div class="text-sm text-gray-500" th:text="${club.createdOn}"></div>
                        <h2 class="mt-2 text-2xl font-bold tracking-tight text-gray-900">About this club</h2>
                        <p class="mt-4  text-gray-700" th:text="${club.content}"></p>
                        <div class="mt-4 flex flex-row gap-2">
                            <a th:href="@{/clubs/{clubId}/delete}"
                               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300">
                                Delete
                            </a>
                            <a th:href="@{/clubs/{clubId}/edit(clubId=${club.id})}"
                               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                                Edit
                            </a>
                            <a th:href="@{/events/{clubId}/new(clubId=${club.id})}"
                               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                                Create Event
                            </a>
                        </div>

                    </div>
                </div>

                <div class="mt-8">
                    <h3 class="mb-4 text-3xl font-bold tracking-tight text-gray-900">Events</h3>
                    <!-- Grid for Events-->
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

                        <!-- Event Card-->
                        <div th:each="event :${club.events}"
                             class="max-w-sm bg-white border border-gray-200 rounded-lg shadow relative group">
                            <a href="#">
                                <img class="rounded-t-lg" th:src="${event.photoUrl}" alt=""/>
                            </a>
                            <div class="p-5">
                                <div class="text-sm text-gray-500 mb-2">
                                    Created On: <span th:text="${event.createdOn}"></span>
                                </div>
                                <a href="#">
                                    <h5 th:text="${event.name}"
                                        class="mb-2 text-2xl truncate font-bold tracking-tight text-gray-900"></h5>
                                </a>


                                <div class="relative overflow-x-auto mb-4">
                                    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                                        <tbody>
                                        <tr class="bg-white border-b">
                                            <th scope="row"
                                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                                Start Time
                                            </th>
                                            <td class="px-6 py-4" th:text="${event.startTime}"></td>
                                        </tr>
                                        <tr class="bg-white border-b">
                                            <th scope="row"
                                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                                End Time
                                            </th>
                                            <td class="px-6 py-4" th:text="${event.endTime}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div th:text="${club.title}"
                                     class="bg-blue-100 text-blue-800 text-base font-medium me-2 px-4 py-2 mb-4 rounded-lg">
                                    Default
                                </div>
                                <a th:href="@{/events/{eventId}(eventId=${event.id})}"
                                   class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                                    View
                                </a>
                                <a th:href="@{#}"
                                   class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                                    Edit
                                </a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</section>

</body>

</html>