<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>

<head>
    <title>Clubs Edit</title>
</head>

<body>

<!-- Main Content with margin for fixed navbar -->
<section layout:fragment="body">

    <section class="bg-white">
        <div class="py-16 px-4 mx-auto max-w-2xl">
            <h2 class="mb-4 text-xl font-bold text-gray-900">Edit Club</h2>
            <form role="form"
                  method="post"
                  th:action="@{/clubs/{clubId}/edit(clubId=${club.Id})}"
                  th:object="${club}">
                <div>
                    <div class="mb-4">
                        <input type="hidden" th:field="*{id}">
                        <label for="title"
                               class="block mb-2 text-sm font-medium text-gray-900">Club Title</label>
                        <input type="text"
                               name="title"
                               id="title"
                               th:field="*{title}"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                               placeholder="Type Club Title" required>
                        <p th:if="${#fields.hasErrors('title')}" class="mt-2 text-sm text-red-600"
                           th:errors="*{title}"></p>
                    </div>
                    <div class="mb-4">
                        <label for="photoUrl"
                               class="block mb-2 text-sm font-medium text-gray-900">Photo URL</label>
                        <input type="text"
                               name="photoUrl"
                               id="photoUrl"
                               th:field="*{photoUrl}"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                               placeholder="https://www.example.com/image" required>
                        <p th:if="${#fields.hasErrors('photoUrl')}" class="mt-2 text-sm text-red-600"
                           th:errors="*{photoUrl}"></p>
                    </div>
                    <div class="mb-4">
                        <label for="content"
                               class="block mb-2 text-sm font-medium text-gray-900">Content</label>
                        <textarea
                                name="content"
                                id="content"
                                th:field="*{content}"
                                rows="8"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500"
                                placeholder="Club content Here"
                                required></textarea>
                        <p th:if="${#fields.hasErrors('content')}" class="mt-2 text-sm text-red-600"
                           th:errors="*{content}"></p>
                    </div>
                </div>
                <button type="submit"
                        class="inline-flex items-center px-5 py-2.5 mt-4 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-800">
                    Save Edit
                </button>
            </form>
        </div>
    </section>


</section>

</body>

</html>