<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Events Detail</title>
</head>
<body>

<section layout:fragment="body">
    <!-- Justify Children to Center    -->
    <div class="max-w-screen-lg flex flex-col justify-center items-center mx-auto">
        <!-- Header -->
        <section class="py-8 px-4 mx-auto max-w-screen-xl">
            <div class="text-center mb-8">
                <h1 text=""
                    class="text-5xl font-extrabold tracking-tight leading-none text-gray-900">
                    Event Details
                </h1>
            </div>
        </section>

        <!-- Page content-->
        <div class="container mx-auto px-4">
            <div class="grid">


                <!-- Club Info -->
                <div class="bg-white shadow-md rounded-lg mb-4">
                    <a href="#!"><img class="w-full rounded-t-lg"
                                      th:src="${event.photoUrl}"
                                      alt="Club Photo"/></a>
                    <div class="p-6">
                        <div class="text-sm text-gray-500" th:text="${event.createdOn}"></div>
                        <h2 class="mt-2 text-2xl font-bold tracking-tight text-gray-900">About this club</h2>
                        <p class="mt-4  text-gray-700" th:text="${event.type}"></p>
                        <div class="mt-4 flex flex-row gap-2">
                            <a th:href="@{/clubs/{clubId}/delete}"
                               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300">
                                Delete
                            </a>
                            <a th:href="@{#}"
                               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                                Edit
                            </a>
                            <a th:href="@{#}"
                               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

</body>
</html>