<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet"/>
</head>
<body>
<section layout:fragment="body">
    <section class="py-8 px-4 mx-auto max-w-screen-xl">
            <div class="flex flex-col items-center justify-center max-w-md px-6 mx-auto md:h-screen lg:py-0">
                <div class="w-full bg-white rounded-lg shadow">
                    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                            Create an account
                        </h1>
                        <form class="space-y-4 md:space-y-6" th:action="@{/register/save}" th:object="${user}" method="post">
                            <div>
                                <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Your
                                    username</label>
                                <input type="text"
                                       th:field="*{username}"
                                       name="username"
                                       id="username"
                                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                       placeholder="username"
                                       required="">
                                <div th:if="${#fields.hasErrors('username')}" class="text-red-500 text-sm mt-1">
                                    <span th:errors="*{username}"></span>
                                </div>
                            </div>
                            <div>
                                <label for="email"
                                       class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
                                <input type="email"
                                       th:field="*{email}"
                                       name="email"
                                       id="email"
                                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                       placeholder="name@company.com"
                                       required="">
                                <div th:if="${#fields.hasErrors('email')}" class="text-red-500 text-sm mt-1">
                                    <span th:errors="*{email}"></span>
                                </div>
                            </div>
                            <div>
                                <label for="password"
                                       class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                                <input type="password"
                                       th:field="*{password}"
                                       name="password"
                                       id="password"
                                       placeholder="••••••••"
                                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                       required="">
                            </div>
                            <button type="submit"
                                    class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                                Create an account
                            </button>
                            <p class="text-sm font-light text-gray-500">
                                Already have an account? <a th:href="@{/login}"
                                                            class="font-medium text-primary-600 hover:underline">Login
                                here</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
    </section>
</section>

<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>